services:

  echo-agent:
    build:
      context: ..
      dockerfile: acp-agents/echo/Dockerfile
    image: smith-echo-agent
    container_name: smith-echo-agent
    ports:
      - "8001:8080"
    environment:  
      - ACP_HOST=0.0.0.0
      - ACP_PORT=8080

  codex-agent:
    build:
      context: ..
      dockerfile: acp-agents/codex/Dockerfile
    image: smith-codex-agent
    container_name: smith-codex-agent
    ports:
      - "8002:8080"
    environment:
      - CODEX_ACP_VERSION=0.4.0
      - LOG_LEVEL=DEBUG
      - CODEX_HOME=/app/codex-config
    volumes:
      - 'C:\Users\bruno\RiderProjects\ConsoleApp1\:/workspace'
      - ./codex/config:/app/codex-config
